[tasklog]
; csv of types e.g chore,shopping,pet
task_types= 

[aliases]
; alias list for each type
; stored in the format - a csv of aliases per type
; task_type=a1,a2,a3,a4

; EXAMPLE
;chore=ch
; this will allow a task under "chore" to be 'ch' so !task ch clean kitchen
; is equivalent to !task chore clean kitchen and will be stored under "chore"

[taskbot]
; be sure to read on prefixes in the discord.py bot docs
; csv of prefixes
prefixes=
; appends a space to all prefixes - boolean true/false
append_whitespace=
desciption=
token=

[taskui]
ENV=
SECRET_KEY=

[db]
; if changed change in sql/task_db.sql and secrets/pgpass and docker-compose.yml
host=postgres
; if changed change in sql/task_db.sql and secrets/pgpass and docker-compose.yml
port=5432
; if changed change in sql/task_db.sql and secrets/pgpass
dbname=tasklog
; if changed change in sql/task_db.sql
user=tasklog
; user setup - make sure matches what is in secrets/pgpass
password=

