html {
  margin: 0;
}

body {
  margin: 16px 10%;
}

table {
	border: double grey;
  border-collapse: collapse;
  margin: 16px 0px;
}

td, th {
  border: 1px solid grey;
	text-align: left;
	padding-left: 10px;
}

td.wide, th.wide {
  width: 50%; 
}

td.action, th.action {
	text-align: right;
	width: 5%; /* keep as small as possible */
}

td.empty-table-message {
  padding: 8px 0;
  text-align: center;
}

.flash-container {
  display: flex;
  color: #fff;
}

/* message is the default category in Flask */
.flash-container, .flash-message, .flash-info {
  background-color: #1a66ff;
}

.flash-success {
  background-color: #00e64d;
}

.flash-error {
  background-color: #e60000;
}

.flash-warning {
  background-color: #ff6600;
}

.flash-message-body {
  display: inline-block;
  flex-grow: 1;
  padding: 12px;
}

.flash-dismiss {
  display: inline-block;
  padding: 12px;
  text-decoration: underline;
}

.flash-dismiss:hover {
  cursor: pointer;
}

/* hide flash on dismiss */
.flash-container > input[type=checkbox]:checked ~ .flash-message-body {
  display: none;
}
.flash-container > input[type=checkbox]:checked ~ .flash-dismiss {
  display: none;
}

.submit-container {
  text-align: right;
}

footer {
  border-top: 1px solid grey;
  padding: 16px 0;
  margin: 16px 0;
}
