<!doctype html>
<html lang="en">
  <head>
    <title>Oops! - Taskui</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='index.css') }}" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
  </head>
  <body>
    <h1> Error! </h1>
    <h3> {{ message }} </h3>
  </body>
</html>
